{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ author.get_full_name }}</title>
{% endblock  %}

{% block content %}
  <div class="mb-5">
    <h1>Все посты {{ author.get_full_name }}</h1>
    <h3>Всего: {{ page_obj.paginator.count }}</h3>
    {% if request.user != author %}
      {% if following %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    {% endif %}
  </div>
  {% for post in page_obj %}
    <article>
      {% include 'includes/posts/post_card.html' %}
      {% if post.group %}
      <p>
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {{ post.group.title }}
      </p>
    {% endif %}
    </article>      
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/posts/paginator.html' %}
{% endblock %}